<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testdubbo.cc.mapper.UserMapper">
    <select id="qryUserById"  resultType="com.testdubbo.cc.dto.entity.UserDto">
        select * from `user`
        <where>
            <if test="userId != null and userId !=''">
                user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>